.update-modal-body {
  margin-bottom: 20px;

  .update-modal-project-key {
    padding-bottom: 15px;
    margin: -10px 0 20px;
    color: #6B778C;
    border-bottom: 1px solid grey;
    
    small {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }

  .update-modal-creator-info,
  .update-modal-creation-date {
    margin-bottom: 5px;
    color: #6B778C;
    
    small {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }

  .update-modal-section {
    margin: 20px 0;

    .update-modal-section-content {
      margin: 15px 0;
    }
  }

  .date-change-display {
    margin-top: 10px;
  }
}
